.flip-clock-wrapper ul {
		/*width: 60px*/ /* default */
		width: 130px;
		/*height: 90px;*/ /* default */
		height: 205px;
    margin: 5px 10px;
}

.flip-clock-wrapper ul li {
	/*line-height: 87px;*/ /* default */
	line-height: 200px;
}

.flip-clock-wrapper ul li a div div.inn {
	/*font-size: 74px; */ /* default */
	font-size: 170px;
}

.flip-clock-wrapper ul li a div.up:after {
	/*top: 48px;*/
	top: 100px;
}

.flip-clock-wrapper ul li a {
	perspective: 1200px;
}
